<!-- <div class="text-layout">
  <h1>{{ nombre | uppercase }}</h1>
  <h1>{{ valor | number }}</h1>

  <p-card header="{{nombre}}" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <ng-template pTemplate="header">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
  </p-card>
</div>

<button (click)="cambiarNombre()">Cambiar nombre</button> 
<button pButton pRipple type="button" 
label="Cambiar nombre" 
icon="pi pi-caret-right" 
iconPos="right"
class="p-button-outlined p-button-rounded p-button-help" 
(click)="cambiarNombre()"></button> -->

<app-menu></app-menu>

<router-outlet></router-outlet>
